.s-config{
    width: 100%; 
    min-height: calc(100vh - 6.4rem);
    padding-bottom: 4rem;

    .perfil{
        width: 100%;
        padding: 2.4rem;
        background-color: $light-color;
        @include flex(center, flex-start, row);
        border-radius: 8px;
        margin-bottom: 1.6rem;

        img{
            width: 5.6rem;
            margin-right: 1.6rem;
            border-radius: 50%;
        }

        .text{
            h6{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 1.8rem;
                color: $gray-color-200;
            }

            p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 1.4rem;
                line-height: 22px;
                color: $gray-color-300;
            }
        }
    }

    .config{

        li{
            width: 100%;

            &:not(:last-child){
                border-bottom: 2px solid #f5f5f5;
            }

            a{
                width: 100%;
                padding: 2.4rem;
                @include flex(center, space-between, row);

                .item{
                    @include flex(center, flex-start, row);
                    svg{
                        margin-right: 2.4rem;
                        width: 3.2rem;

                        path{
                            stroke: $brand-color-02;
                        }
                    }

                    .text{
                        h6{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.6rem;
                            color: $gray-color-200;
                        }

                        p{
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 300;
                            font-size: 1.4rem;
                            line-height: 22px;
                            color: $gray-color-200;
                            
                        }
                    }
                }
            }
        }
    }

    .form{
        span{
            display: inline-block;
            margin: 1.6rem 0;
            margin-bottom: 2.4rem;
        }

        .row{
            margin-bottom: 2.4rem;
        }
    }

    .address{
        padding-top: 3.2rem;
        li{
            .itens{
                @include flex(center, flex-start, row);

                p{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 1.4rem;
                    line-height: 24px;
                    letter-spacing: -0.04em;
                    color: $brand-color-02;
                    margin-right: 1.6rem;
                }
                svg{
                    width: 2.4rem;
                    
                    &:not(:last-child){
                        margin-right: 1.6rem;
                    }
                    path{
                        stroke: $gray-color-400;
                        stroke-width: 2px; 
                    }
                }

            }
        }

        .btn{
            display: flex;
            align-items: center;
            padding: 0;

            svg{
                margin-right: 1.6rem;
            }

            p{
                font-size: 1.4rem;
            }
        }
    }

    .signature{
        .history{    
            padding: 1.6rem 3.2rem;
            background-color: $brand-color-02;
            display: block;
            border-radius: 8px;
            @include flex(center, space-between, row);
            transition: background .2s;
            margin-bottom: 2.4rem;

            &:hover{
                background-color: #679444;
            }

            .title{
                @include flex(center, flex-start, row);

                svg{
                    margin-right: 1.6rem;
                    path{
                        stroke: #fff;
                    }
                }

                p{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 24px;
                    letter-spacing: -0.04em;
                    color: $light-color;
                }
            }

            svg{
                path{
                    stroke: #fff;
                }
            }

        }

        .renovacao{
            padding: 2.4rem 3.2rem;
            background-color: $light-color;
            border-radius: 8px;
            @include flex(center, space-between, row);
            margin-bottom: 2.4rem;

            .text{
                h6{
                    font-weight: 500;
                    font-size: 1.8rem;
                    letter-spacing: -0.04em;
                    color: $gray-color-200;
                    margin-bottom: .8rem;
                }

                p{
                    font-family: 'Inter';
                    font-weight: 300;
                    font-size: 1.6rem;
                    color: $gray-color-400;
                }
            }
        }
    }

    .config-signature{
        .subtitle{
            display: inline-block;
            margin-bottom: 2.4rem;
        }

        .planos{
            margin-bottom: 2.4rem;
        }
        
    }

    .history{
        li{
            &:last-child{
                border: none;
                padding-bottom: 0;
            }

            h6{
                color: $gray-color-200;
            }
        }
    }

    .interesses-qtd{
        @include flex(center, flex-start, row);
        margin-bottom: 2.4rem;

        .item{
            padding: 1.6rem;
            border: 1px solid $gray-color-500;
            border-radius: 8px;
            margin-right: 1.6rem; 
            
            @include flex(center, flex-start, row);

            img{
                margin-right: 1.6rem; 
            }


            .info{

                h6{
                    font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 150%;
                    letter-spacing: -0.04em;
                    color: $gray-color-200;
                    margin-bottom: .8rem;

                }

                .qtd{
                    @include flex(center, space-between, row);
    
                    p{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 150%;
                        text-align: center;
                        letter-spacing: -0.04em;
                        color: $gray-color-400;
                    }

                    button{
                        width: 2.4rem;
                        height: 2.4rem;
                        background-color: $gray-color-500;
                        border-radius: 4px;
                        padding: 0.8;
                        svg{
                            width: 1.6rem;
                            path{
                                stroke: $gray-color-400;
                            }
                        }
                    }
                }
            }
        }
    }

    .search{
        margin-bottom: 2.4rem;
    }

    .interest-list{
        width: 100%;
        background-color: $light-color;
        border-radius: 8px;

        .menu{
            @include flex(center, flex-start, row);

            li{
                width: 25%;
                padding: 0;
                
                button{
                    width: 100%;
                    padding: 1.6rem 2.4rem;

                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 24px;
                    letter-spacing: -0.04em;
                    color: $gray-color-400;
                }

                &:nth-child(1){
                    border-radius: 8px 0px 0px 0px ;
                }

                &:nth-child(4){
                    border-radius: 0px 8px 0px 0px;
                }
            }
        }

        li{
            padding: 1.6rem 2.4rem;
            border-bottom: 1px solid #E5E5E5;
            &:hover{
                background-color: #fafafa;
            }
        }
    }
}