nav{
    width: 100%;
    background-color: $brand-color-01;

    .container{
        @include flex(center, space-between, row);
        height: 6.4rem;

        .logo{
            height: 2.4rem;
        }

        ul{
            @include flex(center, space-between, row);
            li{
                &:not(:last-child){
                    margin-right: 3.2rem;
                }

                &.perfil{
                    margin-left: 6rem;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 24px;
                    letter-spacing: -0.04em;
                    color: $light-color;

                    padding-right: 3.2rem;

                    border-right: 1px solid $gray-color-500;

                    display: flex;
                    align-items: center;

                    img{
                        margin-right: 1.6rem;
                    }
                }

                a{
                    @include flex(center, center, row);

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 24px;
                    letter-spacing: -0.04em;
                    color: $light-color;

                    padding: 1.6rem 0;


                    svg{
                        margin-right: 1.6rem;
                    }

                    &.out{
                        color: $gray-color-400;
                    }
                }
            }
        }
    }
}