$brand-color-01: #105044;
$brand-color-02: #769F56;

$light-color: #fff;

$gray-color-100: #1A2934;
$gray-color-200: #44494D;
$gray-color-300: #5A6166;
$gray-color-400: #7F8A92;
$gray-color-500: #E5E5E5;
$gray-color-600: #EDEAE5;
$gray-color-700: #F8F5F1;
$gray-color-800: #DDE2E6;

$adittional-color-01: #1971F3;
$adittional-color-02: #326463;
$adittional-color-03: #00C294;
$adittional-color-04: #FF8B20;