.signin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin_form {
  width: 416px;
}

.signin_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.signin_head p {
  font-weight: 400;
  text-align: center;
  margin-top: 32px;
}
