.input {
  display: flex;
  flex-direction: column;
}

.input label {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: var(--subtitle_color);
  margin-bottom: 8px;
}

.input input,
select,
textarea {
  padding: 16px 19px;
  border: 1px solid #dad8d5;
  border-radius: 8px;
  color: var(--text_color);
}

.input select {
  appearance: none;
  cursor: pointer;
}

.input textarea {
  max-width: 100%;
  max-height: 300px;
  min-height: 60px;
}
